
.heads{
   font-size:16px;
   font-weight:500;
}

.bgr{
   background-color:#E8E8E8;
}
.cards{
   max-width:250px;
   height:450px;
}

.font{
   font-size:50px;
   font-weight:450;
}
.titles{
   font-size:16px;
}

.sp{
    margin-top: 0.9%;
}
.separator{
    margin-top:5px;
    margin-bottom:5px;
    height:1px;
    width:100%;
    border-top:1px solid red;
}
.layananDesa{
   max-width:70px;
   height:50px;
}
.cards2{
   max-width: 50px;
   height: 70px;
}